<a href="/sign_in">sign in</a>

<form class="" action="/registrations" method="post">
  <input type="email" name="email" placeholder="your email here">
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>
