<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if current_user %>
      <form class="" action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="sign out">
      </form>
    <% end %>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
